body, html {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden;
}
.app {
  margin: none;
  height: 100%;
  width: 100%;
  background-color: black;
  display: flex;
  justify-content: center;
  align-items: center;
}

.game-container {
  width: 936px;
  height: 702px;
  background-color: black;
  border-style: solid;
  border-width: 2px;
  border-color: rgb(63, 99, 255);
}

.game-info {
  height: 10%;
  width: 100%;
  display: flex;
  justify-content: space-around;
}

.game-score {
  color: rgb(227, 58, 233);
}

.game-window {
  height: 79%;
  width: 100%;
  background-color: rgb(1, 1, 39);
}

.player-info {
  height: 8%;
  width: 100%;
  border-top: 3px solid green;
}

.player-lifes {
  margin-left: 50px;
  color: rgb(91, 248, 60);
}